.git
.hg
**/target
**/.settings
*.classpath
*.project
**/*.pyc
**/FitNesse/**/*.zip
**/files/testProgress/*
**/files/testResults/**/*.xml
*.ids
*.iml
*.ipr
*.iws
*.orig
*.patch
*~
.DS_Store
.idea
.m2/*
.sass-cache
# intellij, eclipse files and directories anywhere in the repo
.idea/
.metadata/

**/MANIFEST.MF
scripts/hg/*.txt
*.log

